.header {
  height: 3;
  background: blue;
  color: white;
}

#search {
  margin: 0 0;
  border: blue;
  height: 1;
}

Tree {
  margin: 0 0;
  border: blue;
  height: 75vh;
}

.status {
  height: 1;
  margin: 0;
  color: red;
  text-align: center;
}

.resource {
  border: blue;
  margin: 0 0;
  height: 75vh;
}

#action {
  layout: grid;
  grid-size: 2;
  grid-gutter: 2;
  padding: 2;
  align: center bottom;
}

Horizontal {
  column-span: 2;
  align: center middle;
}

#question {
  width: 100%;
  height: 100%;
  column-span: 2;
  content-align: center bottom;
  text-style: bold;
  border: solid red;
}

Button {
  width: 20%;
}
