.header {
  height: 3;
  background: blue;
  color: white;
}

.tree {
  margin: 1;
  border: blue;
}

.status {
  height: 3;
  margin: 0;
  color: red;
  text-align: center;
}

.resource {
  border: blue;
  margin: 1;
}
