name: Upload Python Package to PyPI

on:
  release:
    types: [released, edited]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: "3.x"

      - name: fix version
        run: |
          sed -i 's/x.x.x/${{ github.ref:1 }}/' pyproject.toml

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip

      - name: Build package
        run: python -m build

      - name: Upload Artifact
        uses: actions/upload-artifact@v3
        with:
          name: dist
          path: ./dist/

  publish-test:
    runs-on: ubuntu-latest
    environment: test
    permissions:
      id-token: write
    needs: build

    steps:
      - name: Download Artifact
        uses: actions/download-artifact@v3
        with:
          name: dist
          path: ./dist/

      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          repository-url: https://test.pypi.org/legacy/

  publish-production:
    runs-on: ubuntu-latest
    environment: production
    permissions:
      id-token: write
    needs: publish-test
    if: github.ref == 'refs/heads/main'

    steps:
      - name: Download Artifact
        uses: actions/download-artifact@v3
        with:
          name: dist
          path: ./dist/

      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
